# Virtual Environment
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Local SQLite Database (CRITICAL: Do NOT commit)
*.sqlite3
db.sqlite3

# Environment variables & secrets
.env
.env.*

# IDE config
.vscode/
.idea/

# Static files
staticfiles/